@media (min-width: 320px){html{font-size: 29.62963px;} }
@media (min-width: 360px){html{font-size: 33.333333px;} }
@media (min-width: 375px){html{font-size: 34.722222px;} }
@media (min-width: 384px){html{font-size: 35.55555555px;} }
@media (min-width: 414px){html{font-size: 38.33333px;} }
@media (min-width: 448px){html{font-size: 41.484148px;} }
@media (min-width: 480px){html{font-size: 44.444444px;} }
@media (min-width: 512px){html{font-size: 47.407407407px;} }
@media (min-width: 544px){html{font-size: 50.370370370px;} }
@media (min-width: 576px){html{font-size: 53.3333px;} }
@media (min-width: 608px){html{font-size: 56.296296px;} }
@media (min-width: 640px){html{font-size: 59.25925926px;} }
@media (min-width: 750px){html{font-size: 69.4444444px;} }
 @media (min-width: 828px){html{font-size: 76.66666px;} }
@media (min-width: 1080px){html{font-size: 100px;} }
@media (min-width:1920px){html{font-size: 177.777777px;} }